body{
    background-color: #dde8f07b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* ---Elements--- */

h1 {
    text-decoration: underline;
}

h3 {
    font-style: italic;
    background-color: #0973be7b;
    width: max-content;
}

h4 {
    background-color: rgba(54, 105, 87, 0.45);
    width: max-content;
}

/* ---NAV--- */

.navbar {
    background-color: rgb(39, 39, 111);
    padding: 0.25em;
}

.navbar ul{
    display: flex;
    flex-wrap: nonwrap;
    justify-content: flex-start;
    list-style-type: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 1em;
    font-size: 24px;
    box-shadow: 2px 1px rgb(253, 253, 253);
}

.navbar a:hover {
    color: gold;
}

/* ---IMAGE LIST INDEX--- */

#placesvisited {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#placesvisited li {
    text-align: center;
    list-style-type: none;
}

table {
    background-color: #92a5667b;
    border: 3px solid black;
}

th {
    background-color: rgba(213, 123, 49, 0.45);
}

td {
    text-indent: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    background-color: rgb(152, 163, 69);
    padding: 10px;
    border: 2px solid black;
}

form label {
    font-weight: 600;
    font-size: larger;
    text-align: center;
}

form button {
    padding: 5px;
    font-size: 20px;
    font-weight: 600;    
}